<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project Bird Nest</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script type="module" src="site.js"></script>
  </head>

  <body>
    <div class="CoverImage"></div>

    <h2 class="Header">Drone Pilots Violating the NDZ</h2>
    <div id="list" class="Intruders">Loading...</div>
  </body>
</html>
