* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 1rem;
}

.CoverImage {
	background: url('https://assignments.reaktor.com/birdnest/img/birdnest11.webp') no-repeat center;
	opacity: 0.1;
	inset: 0;
	position: fixed;
	z-index: -1;
}


.Header {
  text-align: center;
  padding-bottom: 1rem;
}

.Intruders {
  display: grid;
	grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
	max-width: 1280px;
	margin-inline: auto;
}

.Intruder__Serial {
	background-color: #ededed;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
  user-select: none;
  text-align: center;
}
